In [ ]:
import pandas as pd
import sqlite3

# --- EXTRACT ---
# Load the data using 'latin1' encoding to handle special characters
df = pd.read_csv('Superstore.csv', encoding='latin1')

# --- INSPECT ---
# See the first 5 rows
print("Original Data (First 5 Rows):")
print(df.head())

# Get info on columns and data types
print("\nOriginal Data Info:")
df.info()

Original Data (First 5 Rows):
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680

Original Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [ ]:
# 2. Fix Data Types (Dates)
# Add format='mixed' to handle both MM/DD/YYYY and DD/MM/YYYY
df['order_date'] = pd.to_datetime(df['order_date'], format='mixed')
df['ship_date'] = pd.to_datetime(df['ship_date'], format='mixed')

# 3. Handle Missing/Wrong Data (Postal Code)
# Fill missing values (NaN) with '00000'
df['postal_code'] = df['postal_code'].fillna('00000')
# Convert to integer (to remove .0) and then to string
df['postal_code'] = df['postal_code'].astype(int).astype(str)

# 4. Fix sub-category column name
df.rename(columns={'sub-category': 'subcategory'}, inplace=True)

# --- Final Check ---
print("Transformed Data Info:")
df.info()

print("\nTransformed Data (First 5 Rows):")
print(df.head())

Transformed Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9800 non-null   int64
 1   order_id       9800 non-null   object
 2   order_date     9800 non-null   datetime64[ns]
 3   ship_date      9800 non-null   datetime64[ns]
 4   ship_mode      9800 non-null   object
 5   customer_id    9800 non-null   object
 6   customer_name  9800 non-null   object
 7   segment        9800 non-null   object
 8   country        9800 non-null   object
 9   city           9800 non-null   object
 10  state          9800 non-null   object
 11  postal_code    9800 non-null   object
 12  region         9800 non-null   object
 13  product_id     9800 non-null   object
 14  category       9800 non-null   object
 15  subcategory    9800 non-null   object
 16  product_name   9800 non-null   object
 17  sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(14)
memory usage: 1.3+ MB

Transformed Data (First 5 Rows):
   row_id        order_id order_date  ship_date       ship_mode customer_id  \
0       1  CA-2017-152156 2017-08-11 2017-11-11    Second Class    CG-12520
1       2  CA-2017-152156 2017-08-11 2017-11-11    Second Class    CG-12520
2       3  CA-2017-138688 2017-12-06 2017-06-16    Second Class    DV-13045
3       4  US-2016-108966 2016-11-10 2016-10-18  Standard Class    SO-20335
4       5  US-2016-108966 2016-11-10 2016-10-18  Standard Class    SO-20335

     customer_name    segment        country             city       state  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

  postal_code region       product_id         category subcategory  \
0       42420  South  FUR-BO-10001798        Furniture   Bookcases
1       42420  South  FUR-CH-10000454        Furniture      Chairs
2       90036   West  OFF-LA-10000240  Office Supplies      Labels
3       33311  South  FUR-TA-10000577        Furniture      Tables
4       33311  South  OFF-ST-10000760  Office Supplies     Storage

                                        product_name     sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680

In [ ]:
# --- LOAD ---

# 1. Create a connection to the SQLite database
# This will create a new file named 'superstore.db'
conn = sqlite3.connect('superstore.db')

# 2. Load the DataFrame into a SQL table
# We'll name the table 'orders'
# if_exists='replace' means it will overwrite the table if it already exists
df.to_sql('orders', conn, if_exists='replace', index=False)

# 3. Close the connection
conn.close()

print("Project 2 Complete: Data successfully extracted, transformed, and loaded into 'superstore.db'")

Project 2 Complete: Data successfully extracted, transformed, and loaded into 'superstore.db'